---

import background from '../assets/background.svg';
import Plane from './Plane.astro';
import boy_1 from '../assets/boy_1.png';
import boy_2 from '../assets/boy_2.png';
import boy_3 from '../assets/boy_3.png';
---

<div id="container">
	<img id="background" src={background.src} alt="" fetchpriority="high" />
	<main>
		<Plane image={boy_2} text="Инфо" link="/about" />
		<div class="text-block" >
			<h1>Приходи - порисуем!</h1>
			<h2>30.12</h2>
		</div>
		<div class="plane-block" >
			<Plane image={boy_1} text="Вишлист" link="/wishlist" />
			<Plane image={boy_3} text="Жду ваc!" />
		</div>

	</main>
</div>

<style>
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(100px);
	}

	#container {
		height: 100%;
	}

	main {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.text-block {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 600;
		text-align: center;
	}
	.plane-block {
		display: flex;
		gap: 20px;
	}
</style>
